<!DOCTYPE html>
<html>
  <head>
    <title>ControlesBasicos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      (function(){
        'use strict';
        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('needs-validation')
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() == false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false)
          });
        }, false)
      })();      
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
